
html {
    height: 100dvh;
}
/* Высота страницы без UI-элементов браузера(адресная строка...). */


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 19dvh;
}
/* Флекс-контейнер. */
/* Раздвинуть элементы по краям. */
/* Центрировать по вертикали. */


nav a {
    text-decoration: none;
}
/* Убрать подчеркивание текста. */


nav a p {
    color: black;
}
/* Изменить цвет текста. */