
body {
    /* Вначале была тьма. */
    background: black;
    /* Меняю фон body(видимый контент) на черный. */
    
    /* Работа с границами контейнера */
    border-top: 0.28rem solid rgb(78, 78, 78);
    border-bottom: 0.28rem solid rgb(78, 78, 78);
    /* Верхняя и нижняя граница в размерах REM(зависит от размера шрифта html) */
    
    /* DV-размеры - динамические размеры без UI-элементов браузера(адресная строка, ...). */
    width: 100dvw;
    height: 100dvh;
    /* Ширина и высота занимают все DV-пространство. */

    /* Работа с элементами внутри контейнера. */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    /* Делаю флекс-контейнер, центрирую по вертикали(Y), в колонку, растягиваю по горизонтали(X). */

}