
/* Общие стили в css/10-html.css */
#sluzby {
    border-left: none;
    border-radius: 0 20% 20% 0;
    background-image: radial-gradient(circle, white, rgba(255, 0, 0, .9));
}


#produkty {
    border-right: none;
    border-radius: 20% 0 0 20%;
    background-image: radial-gradient(circle, white, rgba(255, 255, 0, .9));
}